Repository teloxide/teloxide-core, pull requests merged in 2021-11, with the labels that each got.

#131 fix: Add missing derive(Debug) on adapters
  src/adaptors/auto_send.rs
  src/adaptors/cache_me.rs
  src/adaptors/erased.rs
  src/adaptors/parse_mode.rs
  src/adaptors/throttle.rs
  src/adaptors/trace.rs
Labels: Waiting on author

#135 Add `ApiError::TooMuchInlineQueryResults`
  CHANGELOG.md
  src/errors.rs
Labels: Waiting on review

#134 Refactor errors
  CHANGELOG.md
  src/errors.rs
  src/net/request.rs
  src/net/telegram_response.rs
Labels: Waiting on review, breaking change

#133 TBA 5.4 and schema updates
  CHANGELOG.md
  src/adaptors/auto_send.rs
  src/adaptors/cache_me.rs
  src/adaptors/erased.rs
  src/adaptors/parse_mode.rs
  src/adaptors/throttle.rs
  src/adaptors/trace.rs
  src/bot/api.rs
  src/local_macros.rs
  src/payloads.rs
  src/payloads/add_sticker_to_set.rs
  src/payloads/approve_chat_join_request.rs
  src/payloads/create_chat_invite_link.rs
  src/payloads/create_new_sticker_set.rs
  src/payloads/decline_chat_join_request.rs
  src/payloads/edit_chat_invite_link.rs
  src/payloads/edit_message_media.rs
  src/payloads/edit_message_media_inline.rs
  src/payloads/send_animation.rs
  src/payloads/send_audio.rs
  src/payloads/send_chat_action.rs
  src/payloads/send_document.rs
  src/payloads/send_media_group.rs
  src/payloads/send_photo.rs
  src/payloads/send_poll.rs
  src/payloads/send_sticker.rs
  src/payloads/send_video.rs
  src/payloads/send_video_note.rs
  src/payloads/send_voice.rs
  src/payloads/set_chat_photo.rs
  src/payloads/set_sticker_set_thumb.rs
  src/payloads/set_webhook.rs
  src/payloads/setters.rs
  src/payloads/upload_sticker_file.rs
  src/requests/requester.rs
  src/serde_multipart/unserializers.rs
  src/types.rs
  src/types/chat_invite_link.rs
  src/types/chat_join_request.rs
  src/types/input_file.rs
  src/types/input_media.rs
  src/types/input_sticker.rs
  src/types/update.rs
Labels: Waiting on review, breaking change
